body {
    margin: 5%;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}
h1 {
    color: #0a0a58;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 150%;
    text-transform: uppercase;
    padding: 30px;
    border: 3px solid royalblue;
    margin: 10px 0;
    background-color: aliceblue;
}
h2,h3 {
    padding:5%;
    font-family: 'Courier New', Courier, monospace;
    color: #0f945d;
    text-align: center;
    font-weight: bold;
    font-size: 180%;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px 0;
}
p {
    padding: 5%;
    line-height: 125%;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
img,video {
    padding: 10px;
    margin: 20px;
    border-top-right-radius:30px;
    border: solid 5px #0a0a58;
}
li {
    padding: 2px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 50px;
}